APIFY_TOKEN=your_apify_api_token_here

REDIS_HOST=your_redis_host_here
REDIS_PORT=your_redis_port_here
REDIS_USERNAME=default
REDIS_PASSWORD=your_redis_password_here

EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_gmail_app_password_here
EMAIL_SMTP_SERVER=smtp.gmail.com
EMAIL_SMTP_PORT=587
